body {
max-width: 60em;
margin: 0 auto 0 auto;
}

.heart {
background-image: url("../images/heart.jpg");
} /* Set opacity to 0.5 */

.lenore {
background-image: url("../images/lenore.jpg");
} /* Set opacity to 0.5 */ 

.worktitle {
background-color: #b30014;
}

h1, h2.poe {
background-color: #8678ac;
font-family: Georgia, serif;
}

p {
background-color: #f0f0f0;
color: #b30014;
}

table, th, td {
background-color: #f0f0f0;
border-collapse: collapse;
border: 1px solid #000;
padding: 1em;
}
