        a:link, a:visited {
			background-color: navy;
			color: white;
			position: relative;
			right: 22px;
			width: 40%;
			border: 2px solid white;
			padding: 20px 30px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
		}
		
		a:hover, a:active {
			background-color: white;
			color: navy;
		}
		
		body {
			background-color: FFDECB;
		}
		
		header {
            grid-area: header;
			border-bottom-style: solid;
        }

        nav {
            grid-area: nav;
			text-align: center;
        }

        main {
            grid-area: main;
			border: solid;
			border-radius: 5px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 10px;
            background-color: black;
			color: white;
        }

        .aside1 {
            grid-area: aside1;
			border: solid;
			border-radius: 5px;
			padding-left: 20px;
			padding-right:20px;
			padding-bottom: 10px;
            background-color: black;
			color:white;
        }
		

        .aside2 {
            grid-area: aside2;
			border: solid;
			border-radius: 5px;
			padding-left: 20px;
			padding-right:20px;
			padding-bottom: 10px;
            background-color: black;
			color: white;
        }
		

        footer {
            grid-area: footer;
			border: solid;
			border-radius: 5px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 10px;
            background-color: black;
			color: white;
        }

        .grid-container {
            display: grid;
            grid-template-areas:
                'header header header header header header'
                'nav nav main main main aside1'
                'nav nav main main main aside1'
                'aside2 aside2 aside2 footer footer footer';
            grid-gap: .5em;
			
			max-width: 65em; /* GIVE CONTAINER A WIDTH AND MARGINS IF YOU DO NOT WANT FULL SCREEN */
			margin: auto;
        }


        ul li {
            list-style-type: none;
        }


        /*FIRST BREAK POINT === tablet */
        @media only screen and (max-width : 900px) {
            body {
                background: FFDECB;
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main aside1 aside1'
					'aside2 aside2 aside2 aside2 aside2 aside2' 
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
            }

            ul li {
                display: inline-block;
            }

        }

        /*SECOND BREAK POINT === mobile */
        @media only screen and (max-width : 600px) {

            body {
                background: FFDECB;
            }

            .grid-container {
                display: grid;
                grid-template-areas:
                    'nav nav nav nav nav nav'
                    'header header header header header header'
                    'main main main main main main'
                    'aside1 aside1 aside1 aside1 aside1 aside1'
					'aside2 aside2 aside2 aside2 aside2 aside2'
                    'footer footer footer footer footer footer';
                grid-gap: .5em;
            }

            ul li {
                display: inline-block;
            }

        }
